*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: aliceblue;
}
nav{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    
    
}

.navcontainer{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  
}


.nav-ul{
    display: none;
    width: 100%;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    position: fixed;
    top: 40px;
   
    
}

.barlogo{
    cursor: pointer;
}
.nav-ul.show{
    display: flex;
    

}

.colorlink{
    background-color: rgb(255, 255, 255);
    height: 65vh;
    width: 20vh;
    padding: 10px;
}
.colorlink>li{
    text-decoration: none;
    list-style: none;
    line-height: 65px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    
}

li>a{
    text-decoration: none;
}
main{
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.con{
   
    display: flex;
   
   justify-content: space-around;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 80vw;
    
}


.status{
    background-color: rgb(190, 190, 190);
    border-radius: 15px;
    box-shadow: 5px black .5;
}

.barstatus{
    width: 10px;
    height: 15vh;
    
    background-color: rgb(97, 228, 130);
    
    border-radius: 12px;
    margin-left: 15px;
}

.info{
    background-color: rgb(179, 118, 236);
    border-radius: 15px;


}
.divcon{
    height: 20vh;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center> span{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.infocon   > span{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}


footer{
    height: 60vh;
    display: flex;
    
    justify-content:center;
    align-items: center;
}

.qr{
    
    display: block;
    text-align: center;
    
   
}
.qr> span{
    font-family: 'Poppins', sans-serif;
}
.qrimg{
    border: 2px solid rgb(168, 168, 168);
    padding: 20px;
    width: 65vw;
    border-radius: 12px;
}